@model CRUDusers.Models.UsersData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UsersData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentCi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentCi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_birth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_birth)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Put", new {  id = Model.userId }) |
    <a asp-action="Index">Back to List</a>
</div>
